# Code owners receive automatic pull request review assignments.
# Cf. https://docs.github.com/en/repositories/managing-your-repositories-settings-and-features/customizing-your-repository/about-code-owners
#
# This file applies only to the GitHub mirror.
# Other hosts, such as Gitea, can use different assignment rules or have no assignment support.

# Maintainer principal sur tout le repo.
* @ThomasCrouzet
